nav {
    display: flex;
    margin-left: 30px;
    padding-left: 20px;
}

nav > a {
    margin: auto 30px auto 30px;
}

* {
    font-family: "Times New Roman";
}

body {
    margin: 0;
    background: #efefef;
}

#logo::before {
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "ESHOP";
    color: red;
    margin: 0;
}

#menu {
    background-color: #1e2543;
    display: flex;
    justify-content: center;
    padding: 30px;
}

#menu label, #menu input {
    display: none;
}

a {
    color: white;
}

#menu a, .dropbtn {
    font-size: 30px;
    text-decoration: none;
}

footer a {
    font-size: 16px;
}

#hero {
    text-align: center;
    background-image: url("../img/stratocumulus.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nadpis {
    font-size: 100px;
    margin: 0;
    padding-top: 200px;
    color: white;
    text-shadow: 0 0 10px black;
}

footer {
    margin-top: 10px;
    padding: 50px;
    background-color: #1e2543;
    color: white;
}

footer li {
    padding: 2px;
}

#paticka {
    display: flex;
    justify-content: space-around;
}

#copyright {
    font-size: 2em;
    text-align: center;
}

.clanky {
    font-size: 2em;
    font-weight: bold;
}
/*----------------------------------------------------*/
/*https://www.w3schools.com/howto/howto_css_dropup.asp*/

.dropbtn {
    background-color: inherit;
    color: white;
    text-decoration: none;
    width: 100%;
    min-width: 150px;
    height: 100%;
    text-align: center;
    border: none;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: red;
    width: 100%;
    z-index: 1;
}

.dropup-content > a {
    display: block;
    padding-bottom: 20px;
}

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .dropbtn {
    text-decoration: underline;
    background-color: red;
}

/*----------------------------------------------------*/

/*RESPONZIVITA*/

@media screen and (max-width: 1100px) {

    .dropbtn {
        padding-bottom: 20px;
        width: 100%;
    }

    .dropup {
        margin: auto 30px auto 30px;
        width: 100%;
    }

    .dropup-content {
        margin-right: 0;
        position: relative;
    }

    #menu label {
        position: absolute;
        right: 20px;
        display: inline-block;
        color: white;
        border-style: solid;
        border-color: #262d53;
        font-style: normal;
        font-size: 2em;
        padding: 10px;
    }

    nav a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: 25px;
    }

    nav {
        display: none;
    }

    #menu input:checked ~ nav {
        display: block;
        margin-right: 100px;
        max-width: 200px;
    }

    .nadpis {
        font-size: 4em;
    }
}

@media screen and (max-width: 835px) {

    #paticka {
        flex-direction: column;
    }

    footer li {
        padding: 10px;
    }
}


